//commons

h1,
h2,
h3{
	font-family: 'roboto', sans-serif;
}

h1{
	font-size: $textLg;
}

h2{
	font-size: $textMd;
}

h3{
	font-size: $textSm;
}

p{
	color: $black;
	line-height: 2em;
	font-family: 'roboto', sans-serif;
	font-size: 1.6em;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }
}

.p-catalogo{
	font-size: $textSm;
}

.btn-color1{
	font-family: 'roboto', sans-serif;
	font-size: $textMd;
	background-color: $secondaryColor;
	color: $white;
	cursor: pointer;
}

.btn-color--grey{
	@extend.btn-color1;
	background-color: #454646;
}

.svg__size{
	img{
		width: map-get($map: $img-sizing, $key:'svg');
		&:hover{
			color: $white;
		}
	}	
}

.error404{
	img {
		display: flex;
		justify-content: center;
		align-content: center;
		width: map-get($map: $img-sizing, $key:'100');
	}

	p {
		color: $black;
		text-align: center;
		font-size: $textMd;
		font-family: 'roboto', sans-serif;
	}

	a {
		display: flex;
		justify-content: center;
		align-content: center;
		text-align: center;
		font-size: $textSm;
		font-family: 'roboto', sans-serif;
		&:hover {
			color: $black;
		}
	}
}