//variables

//colors
$mainColor:rgba(37,238,234,1);
$secondaryColor:rgba(44,158,181,1);
$keycolor:rgba(37,238,234,1);
$white:#F9F5F5;
$black:#1B1B1B;

//sizing
$w-100:100%;
$w-50:50%;
$w-navImg:7%;
$svg-size:32px;
